<ion-view title="Adicionar Porta" id="page9">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/PBnbfTqzRJOwJxKb7jp7_003-door-1.png" style="display: block; width: 70%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <form id="adicionarPorta-form5" class="list">
      <label class="item item-input" id="adicionarPorta-input6">
        <span class="input-label">Chave</span>
        <input type="text" placeholder="##-##-##-##">
      </label>
      <div class="spacer" style="width: 300px; height: 22px;"></div>
      <label class="item item-input" id="adicionarPorta-input7">
        <span class="input-label">Nome</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <a ui-sref="menu.minhasPortas()" id="adicionarPorta-button18" class="button button-balanced button-block">Salvar</a>
  </ion-content>
</ion-view>