<ion-view title="Minhas Portas" id="page1">
  <ion-content padding="true" class="has-header">
    <div id="minhasPortas-button-bar2" class="button-bar"></div>
    <ion-list id="minhasPortas-list4" ng-repeat = "porta in portas">
      <ion-item class="item-thumbnail-left" id="minhasPortas-list-item35" ui-sref="menu.porta({id:porta.$id})">
        <img src={{porta.img}}>
        <h2>{{porta.nome}}</h2>
        <ion-option-button class="button-assertive">Remover</ion-option-button>
      </ion-item>
    </ion-list>
    <a ui-sref="menu.adicionarPorta()" id="minhasPortas-button16" class="button  button-balanced button-block icon-right ion-android-add-circle">Adicionar</a>
  </ion-content>
</ion-view>