<ion-view title="Perfil" id="page10">
  <ion-content padding="true" class="has-header">
    <ion-list id="perfil-list11">
      <ion-item class="item-avatar" id="perfil-list-item42">
        <img src="img/No4dezRmREyFDHAxX3hE_004-man.png">
        <h2>Rafael Figueiredo Valim</h2>
        <p>Teste 01</p>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 21px;"></div>
    <div id="perfil-markdown3" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="margin-top:0px;color:#000000;">
        <strong>Informações</strong>
      </p>
    </div>
    <div id="perfil-markdown4" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Informação 1</p>

      <p style="color:#000000;">Informação 1</p>

      <p style="color:#000000;">Informação 1</p>

      <p style="color:#000000;">Informação 1</p>

      <p style="color:#000000;">Informação 1</p>
    </div>
    <div id="perfil-markdown5" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="margin-top:0px;color:#000000;">
        <strong>Sua Chave</strong>
      </p>
    </div>
    <form id="perfil-form6" class="list">
      <label class="item item-input" id="perfil-input8">
        <input type="text" placeholder="">
      </label>
    </form>
    <button id="perfil-button17" class="button button-balanced button-block">Compartilhar Chave</button>
    <div id="perfil-button-bar3" class="button-bar"></div>
  </ion-content>
</ion-view>