<ion-view title="Porta" id="page6">
  <ion-content padding="true" class="has-header">
    <ion-list id="porta-list10">
      <ion-item class="item-thumbnail-left">
        <img src="img/2tJ4Z2epQNOFzgecMtpK_porta1.jpg">
        <h2>{{porta.nome}}</h2>
        <p>{{porta.chave}}</p>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 18px;"></div>
    <button id="porta-button20" class="button button-balanced button-block">Abrir</button>
    <div class="spacer" style="width: 300px; height: 25px;"></div>
    <h5 id="porta-heading1" style="color:#000000;text-align:center;">Usuários Autorizados</h5>
    <ion-list id="porta-list9">
      <ion-item class="item-avatar item-icon-right" ng-repeat = "usuario in usuarios"id="porta-list-item34">
        <img src="img/vkMqfTReKlIVSHhFOqRA_004-man.png">
        <h2>{{usuario.nome}}</h2>
        <p>teste</p>
        <i class="icon ion-android-contact"></i>
        <ion-option-button class="button-assertive">Remove</ion-option-button>
      </ion-item>
    </ion-list>
    <div id="porta-button-bar1" class="button-bar">
      <a ui-sref="adicionarUsuRio()" id="porta-button8" class="button button-positive button-block icon ion-android-person-add"></a>
    </div>
  </ion-content>
</ion-view>