<ion-view title="Sing Up" id="page5">
  <ion-content padding="true" class="has-header">
    <form id="singUp-form2" class="list">
      <ion-list id="singUp-list3">
        <label class="item item-input" id="singUp-input3">
          <span class="input-label">Name</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="singUp-input4">
          <span class="input-label">Email</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="singUp-input5">
          <span class="input-label">Senha</span>
          <input type="text" placeholder="">
        </label>
      </ion-list>
      <button id="singUp-button3" class="button button-stable button-block">Salvar</button>
    </form>
  </ion-content>
</ion-view>